.container{
    margin-top: 40px;
}

.task{
    font-weight: bold;
}

.urgency{
    font-weight: bold;
}

.priority{
    color: #fff;
}

.priority div{
    border-radius: 10px;
    width: 80px;
    padding: 3px 5px;
    text-align: center;
}

.MINOR{
    background-color: #9ccf36;
}
.MEDIUM{
    background-color: #ffc107;  
}
.MAJOR{
    background-color: #dc3545;
}

.green{
    color: #9ccf36;
}
.yellow{
    color: #ffc107;  
}
.red{
    color: #dc3545;
}

.time p{
    margin: auto 10px;
    padding-top: 15px;
}
.align-middle th{
    color: gray;
}
